<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <div class="stocks-container">
        <div class="stock-info-container">
            <div class="stock-info-name">
                <div class="stock-logo">50</div>
                <div class="stock-name">NIFTY 50 INDEX</div>
            </div>
            <div class="stock-adv">
                See Advanced Chart
            </div>
        </div>
        <div class="stock-index-container">
            <div class="stock-index-value"></div>
            <div class="stock-index-menu"></div>
        </div>
    </div>

</body>
</html>