/* .navbar-container{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080705;
    overflow: hidden;
}
.logo-container{
    height: 10vh;
    width : 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    font-weight: 700;
    color: #f0b14f;
    
}

.nav-menu{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25vw;
    font-weight: 500;
    color: #fff;
}

.nav-menu-item{
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.nav-menu-item:hover{
    color: #f0b14f;
    border-bottom: 10px #f0b14f solid;
    z-index: 10;
    background-color: hsla(40, 23%, 8%);
}
.login-menu{
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-prof-pic{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 141, 141);
    cursor: pointer;
}

.login-prof-name{
    width: 30vh;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.25vw;
    font-weight: 500;
    margin-left: 1vw;
    color: #f0b14f;
} */




.navbar{
    width: 100vw;
    height: 10vh;
    background-color: #080705;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-container{
    width: 20vw;
    height: 10vh;
    color:hsl(34, 70%, 66%);
    font-weight: 800;
    font-size: 2vw;
}
.nav-menu{
    width: 45vw;
    height: 10vh;
    justify-content: flex-start;
    
}
.nav-menu-item{
    font-size : 1.25vw;
    font-weight: 500;
    color: #fff;
    margin-left: 4vw;
    /* transition: ease-in-out; */
    transition-duration: 0.07s;
    cursor: pointer;
    
}

.nav-menu-item:hover{
    color: #f0b14f;
    border-bottom: 2px #f0b14f solid;
    z-index: 10;
    /* background-color: hsla(40, 23%, 8%); */
}

.nav-login{
    width: 35vw;
    height: 10vh;
}

.nav-login-details{
    height: 8vh;
    width: 20vw;
    justify-content: space-evenly;
    color: #fff;
    font-size: 1.1vw;
}
.nav-login-pp{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    background-color: rgb(66, 66, 66);
}
.nav-logout{
    padding: 1vh 1vw;
    background-color: hsl(34, 70%, 66%);
    color: #080705;
    border-radius: 0.5vw;
    margin-left: 2vw;
    font-weight: 600;
}

.nav-login-name{
    margin-left: 1vw;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    /* font-size: 16px;   */
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition-duration: 0.5s;
  }
  
  .navbar, .dropdown:hover .dropbtn {
    background-color: hsl(34, 70%, 66%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #353535;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000;
    border-radius: 20px;
    border-top-left-radius: 0px;
    color: white;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #2c2c2c;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }